body{
  background-color: black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#wrapper{
 display:inline-block;
 position:relative;

}
canvas{
  background-color: white;
}
#blackscreen{
  position: absolute;
  background-color: black;
  pointer-events: none; /*evita que este div provoque eventos*/
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}